*{   
}
header{
    width: 100%;
}
.menu_principal{
    background-color: rgba(84, 85, 64, 0.959);
    height: 70px;
    width: 100%;
}

 ul {
    padding: 0px!important;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
main{
    height: 50px;
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    padding: 5px;
    width: 70%;
    float: left;
}
.redes_sociais ul li{
    margin-left: 8px;
    display: inline-block;
    float: left;
}
.redes_sociais{
   width: 20%;
   float: right;
   padding: 8px;
}
.header_2{
    background-color: rgb(0, 0, 0);
    width: 980px;
    padding-left: 177px;
   
}
.menu ul li a:hover{
    color: rgb(255, 81, 0);
}
.menu ul li:hover{
   border-bottom:2px solid rgb(255, 81, 0) ;
   height: 30px; 
}
.menu ul li {
    display: inline-block; 
    margin-left: 20px;
}
.menu ul li a{
   color: rgb(255, 240, 35);
   text-decoration: none;
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: uppercase;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
    margin-top: -4px;
    border-bottom: 3px solid rgb(100, 100, 100);
    padding: 0px;
    background-color: black;
}
button.slick-prev{
    font-size: 0px;
    border: none;
    height: 100px;
    width: 100px;
    background-color: transparent;
    background-image: url(/img/setaE.png);
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 10%;
}
button.slick-next{
    font-size: 0px;
    border: none;
    height: 100px;
    width: 100px;
    background-color: transparent;
    background-image: url(/img/setaD.png);
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 10%;
    }
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: relative;
    left: 22%;
    top: -25px;
    
    }
.slick-dots li button{
    font-size: 0px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 94, 1);
    float: left;
        
    }
.slick-dots li{
    display: inline-block;
}



